<!-- <p>I an a news component! Fuck angular</p>
<p>{{title}}</p>
<p>{{msg}}</p>
<p>{{username}}</p>
<p>{{userinfo.username}}</p> 
<p>{{message}}</p>

<div title="I'm a div">
    MouseHere
</div>

<div [title]="student">
    MouseHere, student
</div>

<div>
    {{content}}
</div>

<span [innerHTML]="content" class="red"></span>

<ul>
    <li *ngFor="let item of arr">
        {{item}}
    </li>
</ul>

<ul>
    <li *ngFor="let item of mylist">
        {{item}}
    </li>
</ul>

<ul>
    <li *ngFor="let item of userlist">
        {{item.username}}---{{item.age}}
    </li>
</ul>

<ul>
    <li *ngFor="let car of cars">
        {{car.cate}}
        <ol>
            <li *ngFor="let carfactor of car.list">
                {{carfactor.title}}---{{carfactor.price}}
            </li>
        </ol>
    </li>
</ul> -->


<app-footer #footer></app-footer>

<button (click)="getChildMsg()">getChildMsg</button>
<button (click)="getChildRun()">getChildRun</button>