

  <!-- <div style="margin: 0 auto; width: 200px; height: 300px;background-color: red;" (click)="getMapLengthAlert()">
    No records
  </div> -->
  <!-- <div *ngIf="getMapLength() == 0">test</div>
  <div *ngIf="getMapLength() != 0">test2</div> -->

  <!-- No Results  -->
<!-- <p>watchlist works!</p> -->

<div style="margin: 0 auto;" *ngIf="getMapLength() == 0" class="container alert alert-warning" role="alert">
  No records
</div>


<div [hidden]="getMapLength() == 0" class="container row g-3 searchform text-bg-dark table-responsive" style="margin: 0 auto; margin-bottom: 15px; margin-top: 40px;background-color: black;">
    
  <table class="table table-dark table-striped">
    <thead >
      <tr>
        <th scope="col" class="col-md-1">#</th>
        <th scope="col" class="col-md-2">Image</th>
        <th scope="col" class="col-md-4">Title</th>
        <th scope="col" class="col-md-1">Price</th>
        <th scope="col" class="col-md-2">Shipping Option</th>
        <th scope="col" class="col-md-2">Favorite</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of watchlistMap | keyvalue; let i=index">
        <!-- #  -->
        <th scope="row">
          <div>{{i + 1}}</div>
          <!-- <div>{{item.value.itemId}}</div> -->
        </th>
        <!-- Image  -->
        <td>
          <img [src]="item.value.galleryURL" alt="Image"/>
        </td>
        <!-- Title -->
        <td>
          <a [routerLink]="['/productinfo/', item.value.itemId[0]]">
            <div style="text-overflow: ellipsis; 
            white-space: nowrap;    
            overflow: hidden;      
            text-overflow: ellipsis; 
            max-width: 300px;" [title]="item.value.title">{{item.value.title}}</div>
          </a>
        </td>
        <!-- Price -->
        <td>
          <div>${{item.value.sellingStatus[0].currentPrice[0].__value__}}</div>
        </td>
        <!-- Shipping -->
        <td>
          <div *ngIf="item.value.shippingInfo == undefined || item.value.shippingInfo[0].shippingServiceCost == undefined">
            NA
          </div>
          <div *ngIf="item.value.shippingInfo != undefined && item.value.shippingInfo[0].shippingServiceCost != undefined">
            <div *ngIf="item.value.shippingInfo[0].shippingServiceCost[0].__value__ == 0">
              Free Shipping
            </div>
            <div *ngIf="item.value.shippingInfo[0].shippingServiceCost[0].__value__ != 0">
             {{item.value.shippingInfo[0].shippingServiceCost[0].__value__}}
            </div>
          </div>
        </td>
        <!-- Wish List -->
        <td>
          <div style="background-color: rgb(220, 220, 220); width: 40px; height: 40px;  border-radius: 5px; display: flex; justify-content: center; text-align: center;">
            <a href="javascript:void(0);" style="padding-top: 5px;">
                <span (click)="removeFromWatchlist(item.value)" class="material-icons"
                    style="color: rgb(36, 33, 33);">
                    remove_shopping_cart
                </span>
            </a>
          </div >
          <!-- <button (click)="removeFromWatchlist(item.value)">removeFromWatchlist()</button> -->
        </td>
      </tr>
    </tbody>
  </table>
  
  
  
  <!-- <p>{{watchlistMap | json}}</p>
    <div *ngFor="let item of watchlistMap | keyvalue">
       Index  
      <div>{{ item.key }}</div>
      <div>{{item.value.itemId}}</div>
       Image 
      <img [src]="item.value.galleryURL" alt="Image"/>
       Title  
      <a [routerLink]="['/productinfo/', item.value.itemId[0]]">
        <div>{{item.value.title}}</div>
      </a>
      Price  
      <div>{{item.value.sellingStatus[0].currentPrice[0].__value__}}</div>
      Shipping  
      <div *ngIf="item.value.shippingInfo == undefined || item.value.shippingInfo[0].shippingServiceCost == undefined">
        NA
        <div>
          <div *ngIf="item.value.shippingInfo != undefined && item.value.shippingInfo[0].shippingServiceCost != undefined">
              <div *ngIf="item.value.shippingInfo[0].shippingServiceCost[0].__value__ == 0">
                Free Shipping
              </div>
              <div *ngIf="item.value.shippingInfo[0].shippingServiceCost[0].__value__ != 0">
                {{item.value.shippingInfo[0].shippingServiceCost[0].__value__}}
              </div>
          </div>
       </div>
      </div>
      WishList 
      <button (click)="removeFromWatchlist(item.value)">removeFromWatchlist()</button>
    </div> -->

  <div [hidden]="getMapLength() == 0" class="container row g-3 text-bg-dark table-responsive" style="margin: 0 auto; margin-bottom: 30px;background-color: black;">
    <!-- Total Cost  -->
    <div [hidden]="getMapLength() == 0" style="text-align: right;">
      Total Cost: ${{getTotalCost()}}
    </div>
  </div>




