<!-- <p>app.component.html</p> -->


<!-- <app-news></app-news>
<app-home></app-home>
<app-header></app-header> -->
<!-- <app-home></app-home> -->

<!-- <app-form></app-form> -->
<!-- <app-search></app-search> -->
<!-- <app-todolist></app-todolist> -->


<!-- <app-home></app-home> -->

<!-- <app-news></app-news> -->

<app-search></app-search>

<div class="container row" style="margin: 0 auto;">
    
    
    <!-- <div class="col-md-2"></div> -->
  
        <a style="width:100px; text-align: center;margin-top: 20px;" routerLink="/results" routerLinkActive="active" class="btn btn-outline-dark col-1 offset-5">
             Results
        </a>    
  
        <a style="width: 100px; text-align: center; margin-top: 20px;" routerLink="/watchlist" routerLinkActive="active" class="btn btn-outline-dark col-1">
            Wish list
        </a>
    
    <!-- </div><span class="material-icons">
search
</span> -->
<router-outlet></router-outlet>
<!-- <app-footer></app-footer> -->

<!-- <app-gettest></app-gettest> -->


<!-- <app-results></app-results>
<app-watchlist></app-watchlist> -->